asgiref==3.8.1
backports-zoneinfo==0.2.1
black==25.1.0
click==8.1.8
Django==4.2.16
django-filter==25.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.10
factory-boy==3.3.3
faker==37.5.3
flake8==7.3.0
inflection==0.5.1
mccabe==0.7.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.10.1
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.1
tomli==2.2.1
typing-extensions==4.12.2
tzdata==2025.2
uritemplate==4.2.0
